    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container py-5 bg-light">
      <div class="container">
        <h1>Switch to PSGI</h1>
        <p>As quickly as possible. Move your code to PSGI.</p>
      </div>
    </div>

    <div class="container">
      <hr>

      <footer>
        <p>&copy; 2016 Perl Hacks.</p>
      </footer>
    </div> <!-- /container -->
