[% FILTER markdown -%]
## Hosting

You are looking for somewhere to host your new web site that
is built in Perl. This section will give you some suggestions of
the kinds of hosting options that are open to you. Or, if you're
running a hosting company, it has suggestions of what you can do
to make your hosting as attractive as possible to Perl projects.

<p><a class="btn btn-default" href="/hosting/" role="button">View details &raquo;</a></p>
[% END -%]
